html {
    --black: #000;
    --white: #fff;
    --red: #ff0202;
    --ciano: #144e4b;
    --ciano-medium: #216966;

    --grey: #888888;
    --grey-dark: #333333;
    --grey-medium: #555555;
    --grey-light: #eeeeee;

    font-size: 62.5%
        /* 10px */
    ;
}

body {
    display: flex;
    height: 100vh;
    padding: 0 1rem;

    background: var(--white);
}

body,
button,
input,
textarea {
    font-size: clamp(17px, 1.7rem, 2vw);
    line-height: 1.3em;

    font-family: "Segoe UI", Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}