/**********************
* All Content
*/

.container {
    width: 100%;
    margin: 0;
}

main.content{
    color: var(--grey-dark);
    font-size: 1.2em;
    text-align: center;
}

/**********************
* Logo
*/
.logo img{
    width: 17rem;
}

/**********************
* Title
*/
.contact address{
    font-style: normal;
}

a#titulo {
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.4;
    color: var(--ciano);
    transition: 0.5s
}

/**********************
* Map
*/
.map {
    width: 800px;
    height: 30vh;
}

/**********************
* Socials links
*/
div.social-links li {
    margin-left: 5px;
    margin-right: 5px
}

div.social-links li,
div.social-links ul{
    display: flex;
    align-items: center;
    width: 40px
}

div.social-links a, img {
    width: 100%;
    height: 100%;
}

em {
    font-style: normal;
}

div.social-links img {
    width: 100%;
    height: auto;
}


/**********************
* Footer
*/

footer {
    margin: 30px 25px 0px 25px;

    border-top: 2px solid var(--grey-light);
}


footer .copyright,
footer .copyright a{
    color: var(--grey);
}

iframe {
    box-shadow: 6px 5px 5px var(--grey);
    border-radius: 5px
}